<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/slimetsp/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="slimetsp" />
            <!--access token can only read packages-->
            <add key="ClearTextPassword" value="fa6b6a675f569ec01b02540ef81fba640b0fa0c4" />
        </github>
    </packageSourceCredentials>
</configuration>